# Ignorar a pasta de ambiente virtual
venv/
.env/

# Ignorar arquivos Python compilados
__pycache__/
*.py[cod]

# Ignorar arquivos específicos
core/utils/gerar_solucao_inicial.py
core/utils/gerar_solucao_inicial_hc1.py
core/utils/operacoes_vizinhanca.py
