# Ignorar a pasta de ambiente virtual
venv/
.env/

# Ignorar arquivos Python compilados
__pycache__/
*.py[cod]

# Ignorar arquivos específicos
utils/gerar_solucao_inicial.py
utils/gerar_solucao_inicial_hc1.py
utils/operacoes_vizinhanca.py